.login-container {
  height: 100%;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-space {
  height: 600px;
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #fff;
}

.login-space > div {
    height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-space > div > div {
  display: grid;
  place-content: center;
}
